/*fonts link*/
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@500&family=Roboto&display=swap');

body{
    margin:0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#ddd767;
    background-color: #3f4f2a;

    display: flex;
    flex-direction: column;

    min-height:100%;
}


html{
    height:100%;
}


/*logo*/

header {
    background-color: #3f4f2a;
}





#logo {
    font-family: 'koisei tokumin', sans-serif;
    color:#ddd767;
    float:left;
    
    
}
 /*navigation bar*/

 #menu{
     font-size: 25px;
     letter-spacing: 1px;

 }

 #menu li{
     float:right;
     list-style-type: none;
     margin-right:45px;
 }

 #menu a{
     text-decoration: none;
     color:#ddd767;
 }

#menu a:hover{
    background-color: #ddd767;
    color:#3f4f2a;
}

#menu, #logo{
    line-height: 75px;
}

.active {
    border:solid 2px #ddd767;
}

/* Footer */

.container{
    background-color: #3f4f2a;
    height:100px;
    position:relative;
    margin-top:auto;
}




.container #copyright{
    text-decoration: none;
    display:inline;
    margin-left: 42%;
    color: #ddd767;
}

.socials {
    text-align: center;
    text-decoration: none;
}

.socials > li{
    display:inline;
}

.socials i {
    font-size: 200%;
    color:#ddd767;
    padding:1%;
}


/*Responsive for smaller screen sizes*/


