/*fonts link*/
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@500&family=Roboto&display=swap');

body{

    height:100%;
    margin:0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#ddd767;
    background-color: #3f4f2a;

    display: flex;
    flex-direction: column;

    min-height:100%;
}


html{
    height:100%;
}

.container{
     width:90%;
     margin: 0 auto;   
}

/*logo*/

header {
    background-color: #3f4f2a;
    
    
}

header::after{
    content:'';
    display: table;
    clear:both;
}



.logo {
    font-family: 'koisei tokumin', sans-serif;
    color:#ddd767;
    float:left;
    padding-left: 2.5%;
    
}
 /*navigation bar*/

 .menu{
     font-size: 25px;
     letter-spacing: 1px;

 }

 .menu li{
     font-family: 'koisei tokumin', sans-serif;
     float:right;
     list-style-type: none;
     margin-right:45px;
     margin-top:10px;
 }

 .menu a{
     text-decoration: none;
     color:#ddd767;
 }

.menu a:hover{
    background-color: #ddd767;
    color:#3f4f2a;
}

.menu, #logo{
    line-height: 75px;
}

.active {
    border:solid 2px #ddd767;
}

/*about us*/

#intro {
    font-family: 'koisei tokumin', sans-serif;
    padding-left:5%;
    margin:auto;
    padding-top:100px;
}

#intro > p{
    font-size: 20px;
}

/*how you can help*/

#help {
    font-family: 'koisei tokumin', sans-serif;
    padding-left:5%;
    margin:auto;
}

#help > p{
    font-size: 20px;
}



/* Footer */

#footer{
    background-color: #3f4f2a;
    height:100px;
    position:sticky;
    margin-top:100%;
}




#footer .copyright{
    text-decoration: none;
    display:inline;
    margin-left: 41%;
    color: #ddd767;
}

.socials {
    text-align: center;
    text-decoration: none;
}

.socials > li{
    display:inline;
}

.socials i {
    font-size: 200%;
    color:#ddd767;
    padding:1%;
}


/*Responsive for smaller screen sizes*/




